# Week 3

In [133]:
import pandas as pd
import numpy as np

Load the data set

In [134]:
url = 'https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv'
df = pd.read_csv(url)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

-----

 1. How many men and women (sex feature) are represented in this dataset?

In [135]:
n_males = df[df["sex"] == "Male"].shape[0]
n_females = df[df["sex"] == "Female"].shape[0]
print(f'Count of males:   {n_males}')
print(f'Count of females: {n_females}')

Count of males:   21790
Count of females: 10771

-----
 2. What is the average age (age feature) of women?

In [136]:
avg_female_age = np.mean(df[df["sex"] == "Female"]["age"])
print(f'Average age of females in dataset: {avg_female_age}')

Average age of females in dataset: 36.85823043357163

-----
 3. What is the percentage of German citizens (native-country feature)?

In [137]:
n_germans = df[df["native-country"] == "Germany"].shape[0]
p_germans = n_germans / df.shape[0] * 100
print(f'Percentage German citizens: {p_germans}')

Percentage German citizens: 0.42074874850281013

-----
 4. (5.) What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [138]:
over_stats = df[df["salary"] == ">50K"]["age"].describe()[["mean", "std"]]
under_stats = df[df["salary"] == "<=50K"]["age"].describe()[["mean", "std"]]
print(f'Age of salary,  > 50K: {round(over_stats[0],2)} +/- {round(over_stats[1],2)}')
print(f'Age of salary, <= 50K: {round(under_stats[0],2)} +/- {round(under_stats[1],2)}')

Age of salary,  > 50K: 44.25 +/- 10.52
Age of salary, <= 50K: 36.78 +/- 14.02

-----
 6. Is it true that people who earn more than 50K have at least high school education? (education = HS-grad, Some-College, Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or *Doctorate)

In [139]:
u_edu = df[df["salary"] == ">50K"]["education"].unique()
higher_educations = [
    "HS-grad",
    "Some-college",
    "Bachelors",
    "Prof-school",
    "Assoc-acdm",
    "Assov-voc",
    "Masters",
    "Doctorate"
]
answer = "Yes"
for high_sal_edu in u_edu:
    if high_sal_edu not in higher_educations:
        answer = "No"
        break
print(f'The answer is "{answer}"')

The answer is "No"

----
 7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [140]:
df.groupby(["race", "sex"]).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                       capital-gain               ...   \
                             75%   max        count         mean  ...
race               sex                                            ...
Amer-Indian-Eskimo Female  46.00  80.0        119.0   544.605042  ...
                   Male    45.00  82.0        192.0   675.260417  ...
Asian-Pac-Islander Female  43.75  75.0        346.0   778.436416  ...
                   Male    46.00  90.0        693.0  1827.813853  ...
Black              Female  46.00  90.0       1555.0   516.593569  ...
                   Male    46.00  90.0       1569.0   702.454430  ...
Other              Female  39.00  74.0        109.0   254.669725  ...
                   Male    42.00  77.0        162.0  1392.185185  ...
White              Female  46.00  90.0       8642.0   573.610391  ...
                   Male    49.00  90.0      19174.0  1368.674455  ...

                              fnlwgt            hours-per-week             \
                                 75%        max          count       mean
race               sex
Amer-Indian-Eskimo Female  163027.50   445168.0          119.0  36.579832
                   Male    182656.00   356015.0          192.0  42.197917
Asian-Pac-Islander Female  175705.75   379046.0          346.0  37.439306
                   Male    200117.00   506329.0          693.0  41.468975
Black              Female  253759.00   930948.0         1555.0  36.834084
                   Male    298601.00  1268339.0         1569.0  39.997451
Other              Female  219441.00   388741.0          109.0  35.926606
                   Male    253334.75   481175.0          162.0  41.851852
White              Female  224836.50  1484705.0         8642.0  36.296691
                   Male    236858.75  1455435.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

----
 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [141]:
male_above_50k = df[(df["salary"] == ">50K") & (df["sex"] == "Male")]
n_married = male_above_50k[(["Married" in x for x in male_above_50k["marital-status"]])].shape[0]
n_bachelors = male_above_50k[(["Married" not in x for x in male_above_50k["marital-status"]])].shape[0]
print(f'Married:   {n_married}')
print(f'Bachelors: {n_bachelors}')

Married:   5965
Bachelors: 697

----
 9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [142]:
print(f'Max hours pr week: {np.max(df["hours-per-week"])}')
print(f'Number of persons: {df[df["hours-per-week"] == 99].shape[0]}')
print(f'Percentage >50K:   {round(df[(df["hours-per-week"] == 99) & (df["salary"] == ">50K")].shape[0] / df[df["hours-per-week"] == 99].shape[0] * 100, 2)}')

Max hours pr week: 99
Number of persons: 85
Percentage >50K:   29.41

----
 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [143]:
# For Japan only
df[df["native-country"] == "Japan"].groupby(["native-country", "salary"]).agg('mean')

                             age         fnlwgt  education-num  capital-gain  \
native-country salary
Japan          <=50K   35.315789  197242.526316      10.710526    201.473684
               >50K    42.875000  167433.708333      12.583333   6258.750000

                       capital-loss  hours-per-week
native-country salary
Japan          <=50K      41.842105       41.000000
               >50K       82.375000       47.958333

In [144]:
# For all countries
df.groupby(["native-country", "salary"]).agg('mean')

                                         age         fnlwgt  education-num  \
native-country             salary
?                          <=50K   36.853547  195354.379863      10.038902
                           >50K    44.328767  187154.513699      12.273973
Cambodia                   <=50K   35.666667  167065.666667       7.916667
                           >50K    41.428571  237677.000000      10.285714
Canada                     <=50K   41.012195  169279.585366      10.243902
                           >50K    45.769231  202084.076923      11.512821
China                      <=50K   41.800000  175689.181818      10.309091
                           >50K    44.550000  188284.700000      13.350000
Columbia                   <=50K   39.228070  223105.157895       9.157895
                           >50K    53.500000  283410.500000      15.500000
Cuba                       <=50K   47.285714  243906.228571       9.042857
                           >50K    41.520000  252969.680000      11.160000
Dominican-Republic         <=50K   37.941176  191262.014706       7.058824
                           >50K    30.500000  220226.000000       9.000000
Ecuador                    <=50K   34.833333  188597.166667       9.291667
                           >50K    47.500000  169428.750000      10.500000
El-Salvador                <=50K   32.649485  264114.123711       6.340206
                           >50K    50.111111  149620.555556      12.222222
England                    <=50K   38.966667  185459.400000      10.433333
                           >50K    45.533333  176206.700000      12.166667
France                     <=50K   38.117647  205851.588235      11.941176
                           >50K    40.166667  172499.916667      12.666667
Germany                    <=50K   36.817204  184968.236559      10.462366
                           >50K    44.409091  198534.590909      12.090909
Greece                     <=50K   44.666667  151661.285714       9.190476
                           >50K    50.250000  121954.125000      11.125000
Guatemala                  <=50K   32.262295  266016.016393       5.950820
                           >50K    35.666667  247825.666667       7.666667
Haiti                      <=50K   37.300000  209238.125000       8.875000
                           >50K    48.000000  206832.500000       9.500000
...                                      ...            ...            ...
Mexico                     >50K    40.484848  302417.000000       9.393939
Nicaragua                  <=50K   33.593750  287987.906250       8.656250
                           >50K    34.000000  399953.500000       9.500000
Outlying-US(Guam-USVI-etc) <=50K   38.714286  204487.785714      10.285714
Peru                       <=50K   35.379310  271800.517241       9.206897
                           >50K    33.500000  314562.500000      11.500000
Philippines                <=50K   37.978102  160747.970803      10.167883
                           >50K    42.737705  178169.196721      12.442623
Poland                     <=50K   41.250000  185051.479167       9.854167
                           >50K    50.583333  179314.166667      11.083333
Portugal                   <=50K   40.333333  153666.939394       6.212121
                           >50K    40.000000  106998.250000      10.750000
Puerto-Rico                <=50K   39.803922  200316.009804       8.107843
                           >50K    46.500000  221403.333333       9.833333
Scotland                   <=50K   36.333333  155825.888889      10.111111
                           >50K    52.666667  208306.666667      10.666667
South                      <=50K   37.218750  164191.921875      10.718750
                           >50K    44.875000  160641.250000      11.687500
Taiwan                     <=50K   29.322581  181981.290323      12.548387
                           >50K    40.800000  193354.550000      14.450000
Thailand                   <=50K   35.400000  181043.200000      10.600000
                           >50K    32.666667  199784.000000      12.666667
Trinadad&Tobago            <=50K   41.176471  218778.941176       8.411765
                           >50K    42.500000  162096.000000       7.000000
United-States              <=50K   36.816719  186950.051730       9.710032
                           >50K    44.297169  187433.992330      11.578859
Vietnam                    <=50K   33.951613  165028.725806       9.661290
                           >50K    35.400000  141648.400000       9.600000
Yugoslavia                 <=50K   38.000000  227306.800000       9.700000
                           >50K    40.166667  197059.166667      10.333333

                                   capital-gain  capital-loss  hours-per-week
native-country             salary
?                          <=50K     113.757437     62.427918       40.164760
                           >50K     6873.205479    285.397260       45.547945
Cambodia                   <=50K     498.250000    289.833333       41.416667
                           >50K     1935.714286      0.000000       40.000000
Canada                     <=50K     110.695122    145.524390       37.914634
                           >50K     4433.923077     97.153846       45.641026
China                      <=50K     103.890909     94.418182       37.381818
                           >50K     1088.600000    413.550000       38.900000
Columbia                   <=50K     186.947368     28.105263       38.684211
                           >50K        0.000000      0.000000       50.000000
Cuba                       <=50K     136.985714     19.714286       37.985714
                           >50K     1011.920000    210.960000       42.440000
Dominican-Republic         <=50K      48.897059     25.911765       42.338235
                           >50K    49999.500000      0.000000       47.000000
Ecuador                    <=50K     224.458333      0.000000       38.041667
                           >50K     2346.500000      0.000000       48.750000
El-Salvador                <=50K     190.773196     34.000000       36.030928
                           >50K     4708.111111      0.000000       45.000000
England                    <=50K     208.233333     66.366667       40.483333
                           >50K     2177.700000    115.533333       44.533333
France                     <=50K     144.882353      0.000000       41.058824
                           >50K     1116.750000      0.000000       50.750000
Germany                    <=50K     148.096774     11.741935       39.139785
                           >50K     2449.068182    217.977273       44.977273
Greece                     <=50K     347.761905    202.428571       41.809524
                           >50K     3741.250000    539.625000       50.625000
Guatemala                  <=50K     116.147541     26.131148       39.360656
                           >50K     2562.666667      0.000000       36.666667
Haiti                      <=50K       0.000000     80.625000       36.325000
                           >50K        0.000000      0.000000       42.750000
...                                         ...           ...             ...
Mexico                     >50K     4256.393939     57.181818       46.575758
Nicaragua                  <=50K     212.312500     49.343750       36.093750
                           >50K        0.000000    924.000000       37.500000
Outlying-US(Guam-USVI-etc) <=50K       0.000000      0.000000       41.857143
Peru                       <=50K      63.137931      0.000000       35.068966
                           >50K        0.000000    924.000000       40.000000
Philippines                <=50K      20.649635     55.642336       38.065693
                           >50K     3259.065574    196.229508       43.032787
Poland                     <=50K     169.583333     42.729167       38.166667
                           >50K     2743.083333      0.000000       39.000000
Portugal                   <=50K     256.060606      0.000000       41.939394
                           >50K        0.000000      0.000000       41.500000
Puerto-Rico                <=50K      83.980392     43.078431       38.470588
                           >50K     2299.500000    158.500000       39.416667
Scotland                   <=50K       0.000000      0.000000       39.444444
                           >50K     1726.000000      0.000000       46.666667
South                      <=50K      70.437500    121.453125       40.156250
                           >50K     9066.937500    361.312500       51.437500
Taiwan                     <=50K      71.032258     51.677419       33.774194
                           >50K     5364.850000    314.700000       46.800000
Thailand                   <=50K       0.000000      0.000000       42.866667
                           >50K        0.000000      0.000000       58.333333
Trinadad&Tobago            <=50K       0.000000    137.588235       37.058824
                           >50K        0.000000    943.500000       40.000000
United-States              <=50K     151.071549     53.972635       38.799127
                           >50K     3967.286850    194.465207       45.505369
Vietnam                    <=50K     240.193548     94.338710       37.193548
                           >50K     5873.600000      0.000000       39.200000
Yugoslavia                 <=50K       0.000000      0.000000       41.600000
                           >50K      926.000000      0.000000       49.500000

[82 rows x 6 columns]